<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EncodingConverter.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="fileStorage" value="D:\Web\MailProcessor\files_recieved"/>
    <add key="pluginsDirectory" value="D:\Web\MailProcessor\pluginsDirectory"/>
    <add key="sevenZipDllPath" value="C:\Program Files\7-Zip\7z.dll"/>
    <add key="recivedFileStorage" value="D:\Web\MailProcessor\recivedFileStorage"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <EncodingConverter.Properties.Settings1>
            <setting name="RegistryConfig" serializeAs="Xml">
                <value>
                    <RegistryConfiguration>
                        <MailBody>
    Данное письмо сформировано автоматически и не предполагает ответа. Пожалуйста, не отвечайте на него.
    При возникновении проблем просьба отправлять письма с указанием Кода организации в нашей системе, описанием проблемы и контактными данными на адрес reestr@esgp.net или обратиться по телефону 8 (495) 259-71-19 доб. 155.

    Код организации ООО "РЭУ-ЮБИЛЕЙНЫЙ" - {0}
  </MailBody>
                        <FileName>ЕСГП-Московская область реестр OOO РЭУ-ЮБИЛЕЙНЫЙ за {0:dd.MM.yyyy}.xls</FileName>
                        <MailSubject>ЕСГП-Московская область реестр OOO "РЭУ-ЮБИЛЕЙНЫЙ" за {0:dd.MM.yyyy}</MailSubject>
                        <Email>reuyubileiny@yandex.ru, khlebosolov.d@esgp.net</Email>
                    </RegistryConfiguration>
                </value>
            </setting>
        </EncodingConverter.Properties.Settings1>
    </applicationSettings>
</configuration>